html, body
{
    width: 99% ;
    
}

body
{
    width: 65% ;
    border: 1px black solid ;
    
    margin-left: auto ;
    margin-right: auto ;
}

header
{
    width: 100% ;
    border: 1px black solid ;
}

header img
{
    width: 100% ;
}

nav
{
    text-align: center ;
    width: 100% ;
    border: 1px black solid ;
    display: inline-block ;
}

nav li
{
    width: 17.7%;
    display: inline-block ;
    
    padding: 1% ;
    
    border: 1px black solid ;
    
    background-image: url('img/banniere_test.png') ;
}

nav ul
{
    border: 1px black solid ;
    padding: 0 ;
}