html, body
{
    width: 99% ;
    

    background: url('img/background_test2.png') no-repeat center center fixed ;
    background-size: cover ;

}

body
{
    width: 65% ;
    border: 1px black solid ;
    
    margin-left: auto ;
    margin-right: auto ;
}

header
{
    width: 100% ;
    border: 1px black solid ;
}

header img
{
    width: 100% ;
}

nav
{
    text-align: center ;
    width: 100% ;
    border: 1px black solid ;
    display: inline-block ;
    
    background-color : white ;
}

nav li
{
    width: 17.7%;
    display: inline-block ;
    
    padding: 1% ;
    
    border: 1px black solid ;
    
    background-image: url('img/banniere_test.png') ;
}

nav ul
{
    border: 1px black solid ;
    padding: 0 ;
}

section
{
    width: 100% ;
    background-color: white ;
    text-align: center ;
}